Arpeggio~=1.9
atomicwrites~=1.1
attrs~=18.2
certifi
Click
click-default-group
colorama~=0.4
hjson~=3.0
intervaltree~=3.0
kiwisolver
matplotlib
more-itertools~=5.0
numpy~=1.15
pandas
pluggy
profiling
prompt-toolkit
psutil
py
Pygments
pygtrie
pyparsing
pyrsistent~=0.14
pytest~=3.7
pytest-pycharm
python-dateutil
pytz
PyYAML
ruamel.yaml
scipy
seaborn
six
sortedcontainers
terminaltables~=3.1
torch~=1.0
tqdm
urwid
valuedispatch
vprof
wcwidth
Whoosh~=2.7
xonsh~=0.8
requests
